<h1>Authors</h1>

<a href="/authors/new">Create New Author</a>

{{#each authors}}
    <div>
        <p>Name: {{ this.name }}</p>
        <p>Bio: {{ this.bio }}</p>
        <p>Gender: {{ this.gender }}</p>
    </div>
    <a href="/authors/{{this._id}}">View Author</a>
    {{!-- {{ In regular http requests, we only have get & post }} --}}
    <a href="/authors/{{this._id}}?_method=DELETE">Delete</a>
      {{!-- {{ Change method to delete }} --}}
      
      {{!-- <a href="/authors/{{this._id}}?_method=PUT">Edit</a> --}}
      <a href="/authors/{{this._id}}/edit">Edit</a>
{{/each}}